.ourButton {
  /* width: 147px;
    /* height: 36px; */

  padding: 10px;
  margin-left: 20px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.buttonText {
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
}
.green {
  background: var(--primary, #10baac);
  color: #ffffff;
}
.white {
  background: #fff;
  color: var(--gray-dark, #818181);
}

.cancel {
  margin-left: 10px;
  display: flex;
  width: 200px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  align-self: stretch;
  border-radius: 6px;
  border: 1px solid var(--primary, #10baac);
  background: rgba(16, 186, 172, 0.05);
}

.cancelText{
  color: var(--primary, #10BAAC);
font-feature-settings: 'clig' off, 'liga' off;
font-family: Work Sans;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: capitalize;
}



.save {
  /* margin-top: 10px; */
  margin-left: 10px;
  display: flex;
  width: 200px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  align-self: stretch;

  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: var(--primary, #10baac);
}
.saveText{
  color: var(--white, #FFF);
font-feature-settings: 'clig' off, 'liga' off;
font-family: Work Sans;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: capitalize;
}





.addOptions{
  display: flex;
padding: 10px;
justify-content: center;
align-items: center;
gap: 4px;
border-radius: 6px;
border: 1px dashed var(--Neutral-200, #E2E8F0);
background: var(--Neutral-50, #F8FAFC);
}

.addOptionsText{
  color: var(--accent, #08496D);
font-feature-settings: 'clig' off, 'liga' off;
font-family: Work Sans;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: capitalize;
}

.multiSelect{
  display: flex;
padding: 10px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 4px;
background: var(--primary, #10BAAC);
}
.multiSelectText{
  color: var(--white, #FFF);
font-feature-settings: 'clig' off, 'liga' off;

/* headings/h4 */
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
}