


  /* why its not applying to my content*/
.shuffleMainbox {
    display: flex;
    width: 625px;
    /* padding: 20px; */
    padding-bottom: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    border-radius: 8px;
    background: #fff;
  }
/* .custom-style{
  background-color: black;
} */

.customBackground{
  background-color:#185fa7 ;
/* height: 44px; */
padding: 10px;
gap: 10px;
margin-bottom: 10px !important;


}
