.TabView {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
        align-self: stretch;
      }
      
      /* Active Tab */
      .tabs {
        padding: 10px 16px;
        justify-content: center;
        align-items: center;
        flex: 1 0 0;
        border-bottom: 1px solid var(--accent, #08496D);
        background: rgba(8, 73, 109, 0.10);
        color: var(--accent, #08496D);
      }
      
      /* Inactive Tab */
      .inActive-tab {
        padding: 10px 16px; /* Match padding with active tab */
        justify-content: center;
        align-items: center;
        flex: 1 0 0;
        
        border: 1px solid var(--bg, #F9FAFB);
      }
      
      .tabsText {
        width: 100%;
        
        display: flex;
        color: var(--Dark-3-Dark, #898989);
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Work Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 18.4px;
      }
      